@charset "UFT-8";

h1 {
    text-align: center;
    background-color: navajowhite;
}

 aside {
    text-align: right;
 }
 
 body {
    background-color: cornsilk;
 }

 article {
    border-width: thick;
    border-style: solid;
 }
 
div p {
   text-align: right;
}

.item {
   text-align: center;
}


.container {
   display: column;
   justify-content: flex-end;
}
.container2 {
   display: flex;
   justify-content: space-around;
}
.container1{
   display: flex;
   justify-content: space-between;
}
table {
   width: 100%;
}