{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<header>
    <h1>学メシアドバイザー</h1>
  </header>
  <aside>
    <a href="/signup">新規登録</a>
    <a href="/login">ログイン</a>
  </aside>
  <article>
    <div class="container">
    <form action="/" method="post">
     <div class="item">   
       <p> お値段はいくらぐらいですか？(値段は目安です)</p>
        <input type="radio" name="input_price" value="550"> 550円
        <input type="radio" name="input_price" value="650"> 650円
        <input type="radio" name="input_price" value="750"> 750円
    </div>
    <div class="item"> 
        <p> 量はどのくらいですか？</p>
        <input type="radio" name="input_size" value="0"> 小
        <input type="radio" name="input_size" value="1"> 中
        <input type="radio" name="input_size" value="2"> 大
    </div>
    <div class="item">
       <p> デザートはどうしますか？(お値段が750円のときのみアリを選択できます)</p>
        <input type="radio" name="input_dessert" value="True"> アリ
        <input type="radio" name="input_dessert" value="False"> ナシ
    </div>
    <div class="item"> 
        <input type="submit" value="送信する">
    </div>
    </form>
    </div>
     {% for i in history %}
    <section>
     <table border="1">
        <tr>
            <th>
               {{ i.date }}
            </th>
        </tr>
        <tr>
            <td>
            <img src={{food.image_url}} alt="Image">
            </td>
        </tr>
     </table>
    </section>
    {% endfor %}
   <div class="container1">
    <div class="item1"><a href="">左</a></div>
    <div  class="item1"><a href="">右</a></div>
   </div>
  </article>
{% endblock %}
